<div id="columns-home" class="clear clearfix">
	<div id="content-column">
		<div class="content-inner">
			<div id="main-content" role="main">
				<div id="content" class="home">
					<div class="region region-content">
						<section id="block-system-main" class="block block-system block-odd block-content block-count-5">
							<div class="block-inner">
								<div class="block-content">
									<article id="node-7" class="node node-page node-view" role="article" about="/node/7" typeof="sioc:Item foaf:Document">
										<div class="node-inner clearfix">
											<div class="node-content"></div>
											<div id="feeds">
												<div id="feed-1">
													<h2> Announcements / Activities
														
														<%= link_to 'View All', root_url %></h2>
													<div class="feed">
														<section id="block-views-announcements-block" class="block block-views block-odd block--1 block-count-4">
															<div class="block-inner">
																<div class="block-content">
																	<div class="view view-announcements view-id-announcements view-display-id-block view-dom-id-6513c5a13ee11e893dcdae49cd2683cb">
																		<div class="view-content">
																			<div class="item-list">
																				<ul>
																					<li class="views-row views-row-1 views-row-odd views-row-first">
																						<div class="views-field views-field-title">
																							<span class="field-content"> <%= link_to 'Latest update of Glossy logistics', root_url %> </span>
																						</div>
																						<div class="views-field views-field-body">
																							<span class="field-content">This block is to give the some latest information about glossy logistics.</span>
																						</div>
																					</li>
																					<li class="views-row views-row-1 views-row-odd views-row-first">
																						<div class="views-field views-field-title">
																							<span class="field-content"> <%= link_to 'Latest update of Glossy logistics', root_url %> </span>
																						</div>
																						<div class="views-field views-field-body">
																							<span class="field-content">This block is to give the some latest information about glossy logistics.</span>
																						</div>
																					</li>
																					<li class="views-row views-row-2 views-row-even">
																						<div class="views-field views-field-title">
																							<span class="field-content"> <%= link_to 'Latest update of Glossy logistics', root_url %> </span>
																						</div>
																						<div class="views-field views-field-body">
																							<span class="field-content">This block is to give the some latest information about glossy logistics.</span>
																						</div>
																					</li>
																					<li class="views-row views-row-3 views-row-odd">
																						<div class="views-field views-field-title">
																							<span class="field-content"> <%= link_to 'Latest update of Glossy logistics', root_url %> </span>
																						</div>
																						<div class="views-field views-field-body">
																							<span class="field-content">
																								Should have long sentence to make the layout fit  
																								\
																								WATCH IT NOW!&nbsp; (Recorded September 15TH, 2011)

																								&nbsp;...</span>
																						</div>
																					</li>
																				</ul>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</section>
													</div>
												</div>
											</div>
											<div id="member-logos"></div>
										</div>
									</article>
								</div>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
