<p id="notice"><%= notice %></p>

<p>
  <b>Igm no:</b>
  <%= @import.igm_no %>
</p>

<p>
  <b>Igm date:</b>
  <%= @import.igm_date %>
</p>


<%= link_to 'Edit', edit_import_path(@import) %> |
<%= link_to 'Back', imports_path %>
