<%= form_for(@industry, :remote => true) do |f| %> <div id="industry_error_explanation"></div>
<table>
	<tr class='field'>
		<td> <%= f.label :name %></td>
		<td> <%= f.text_field :name %> </td>
	</tr>
	<tr class='field'>
		<td> <%= f.label :owner_id %></td>
		<td> <%= f.number_field :owner_id %> </td>
	</tr>
	<tr class='field'>
		<td> <%= f.label :description %></td>
		<td> <%= f.text_area :description, :rows => 3, :cols => 30 %> </td>
	</tr>
	<tr class='field'>
		<td> <%= f.label :address %></td>
		<td> <%= f.text_area :address, :rows => 3, :cols => 30 %> </td>
	</tr>
	<tr>
		<td></td>
		<td class="actions"> <%= f.submit %> </td>
	</tr>
</table>
<% end %> 