<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @airline.name %>
</p>

<p>
  <b>Country:</b>
  <%= @airline.country %>
</p>

<p>
  <b>Description:</b>
  <%= @airline.description %>
</p>


<%= link_to 'Edit', edit_airline_path(@airline) %> |
<%= link_to 'Back', airlines_path %>
