<%= form_for(@shipment) do |f| %>
<% if @shipment.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@shipment.errors.count, "error") %> prohibited this import from being saved:</h2>
	<ul>
		<% @shipment.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<% if @shipment.class == Import %>
<div class="field">
	<%= f.label :igm_no %>
	<%= f.number_field :igm_no %>
</div>
<div class="field">
	<%= f.label :igm_date %>
	<%= f.date_select :igm_date %>
</div>
<% end %>

<div class="field">
	<%= label :shipment, :transport_type %>
	<%= select :shipment, :transport_type, [['Import', 'Import'], ['Export', 'Export']] %>
</div>


<div class="field">
	<%= label :shipment, :industry_id %>
	<%= collection_select :shipment, :industry_id, Industry.all, 'id', 'name' %>
</div>
<div class="field">
	<%= label :shipment, :user_id %>
	<%= collection_select :shipment, :user_id, User.all, 'id', 'name' %>
</div>
<div class="field">
	<%= label :shipment,:mode_of_transport %>
	<%= collection_select :shipment, :mode_of_transport_id, ModeOfTransport.all, 'id', 'name'%>
</div>
<div class="field">
	<%= label :shipment, :destination_id %>
	<%= collection_select :shipment, :destination_id, Destination.all, 'id', 'name' %>
</div>
<div class="field">
	<%= f.label :number_of_pkgs %>
	<%= f.text_field :no_of_pkgs %>
</div>
<div class="field">
	<%= f.label :invoice_reference %>
	<%= f.text_field :invoice_reference %>
</div>
<div class="field">
	<%= f.label :goods_description %>
	<%= f.text_area :goods_description, :rows => 2, :cols => 40 %>
</div>
<div class="field">
	<%= f.label "MAWB MBL No" %>
	<%= f.text_field :mawb_mbl_no %>
</div>
<div class="field">
	<%= f.label "HAWB HBL No" %>
	<%= f.text_field :hawb_hbl_no %>
</div>
<div class="field">
	<%= f.label :agent %>
	<%= f.text_field :agent %>
</div>
<div class="field">
	<%= f.label :bill_no %>
	<%= f.text_field :bill_no %>
</div>
<div class="field">
	<%= f.label :bill_date %>
	<%= f.date_select :bill_date %>
</div>
<div class="field">
	<%= f.label :cargo_receipt_date %>
	<%= f.date_select :cargo_receipt_date %>
</div>
<div class="field">
	<%= f.label :job_no %>
	<%= f.number_field :job_no %>
</div>
<div class="field">
	<%= label :shipment, :status_id %>
	<%= collection_select :shipment, :status_id, Status.all, 'id', 'name' %>
</div>

<%= f.submit %>
</div>
<% end %>
<script type="text/javascript">
	$(document).ready(function() {
		$("#shipment_industry_id").fcbkcomplete({
			json_url : "/shipments/search_by_industry_name",
			addontab : true,
			maxitems : 10,
			input_min_size : 0,
			height : 10,
			cache : true,
			newel : true,
			select_all_text : "select",
		});
	});

	$(document).ready(function() {
		$("#shipment_destination_id").fcbkcomplete({
			json_url : "/shipments/search_by_destination_name",
			addontab : true,
			maxitems : 10,
			input_min_size : 0,
			height : 10,
			cache : true,
			newel : true,
			select_all_text : "select",
		});
	});

</script>