<%= form_for(@shipment) do |f| %>
<% if @shipment.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@shipment.errors.count, "error") %> prohibited this import from being saved:</h2>
	<ul>
		<% @shipment.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<% if @shipment.class == Import %>
<div class="field">
	<%= f.label :igm_no %>
	<br />
	<%= f.number_field :igm_no %>
</div>
<div class="field">
	<%= f.label :igm_date %>
	<br />
	<%= f.date_select :igm_date %>
</div>
<% end %>

<div class="field">
	<%= label :shipment,:industry_name %>
	<br />
	<%= select :shipment,:industry_id, [['Lisbon', 1], ['Madrid', 2]]%>
	<%#= shipment.text_field :industry_id %>
</div>

<div class="field">
	<%= label :shipment,:User_name %>
	<br />
	<%= select :shipment,:user_id, [['Lisbon', 1], ['Madrid', 2]]%>
	<%#= shipment.text_field :industry_id %>
</div>

<div class="field">
	<%= label :shipment,:mode_of_transport %>
	<br />
	<%= collection_select :shipment,:mode_of_transport_id, ModeOfTransport.all, 'id','name'%>
	<%#= shipment.text_field :industry_id %>
</div>

<div class="field">
	<%= label :shipment,:destination %>
	<br />
	<%= select :shipment,:destination_id, [['Lisbon', 1], ['Madrid', 2]]%>
	<%#= shipment.text_field :industry_id %>
</div>

<div class="field">
	<%= label :shipment,:status %>
	<br />
	<%= collection_select :shipment,:status_id, Status.all, 'id','name'%>
	<%#= shipment.text_field :industry_id %>
</div>


<div class="field">
	<%= f.label :number_of_pkgs %>
	<br />
	<%= f.text_field :no_of_pkgs %>
</div>
<div class="field">
	<%= f.label :invoice_reference %>
	<br />
	<%= f.text_field :invoice_reference %>
</div>
<div class="field">
	<%= f.label :goods_description %>
	<br />
	<%= f.text_area :goods_description %>
</div>
<div class="field">
	<%= f.label "MAWB MBL No" %>
	<br />
	<%= f.text_field :mawb_mbl_no %>
</div>
<div class="field">
	<%= f.label "HAWB HBL No" %>
	<br />
	<%= f.text_field :hawb_hbl_no %>
</div>
<div class="field">
	<%= f.label :agent %>
	<br />
	<%= f.text_field :agent %>
</div>
<div class="field">
	<%= f.label 'Bill No' %>
	<br />
	<%= f.text_field :bill_no %>
</div>
<div class="field">
	<%= f.label :bill_date %>
	<br />
	<%= f.date_select :bill_date %>
</div>
<div class="field">
	<%= f.label :cargo_receipt_date %>
	<br />
	<%= f.date_select :cargo_receipt_date %>
</div>
<div class="field">
	<%= f.label :job_no %>
	<br />
	<%= f.number_field :job_no %>
</div>

<%= f.submit %>
</div>
<% end %> 

<script type="text/javascript">
	 $(document).ready(function(){                
                $("#shipment_industry_id").fcbkcomplete({
                    json_url: "/shipments/search_by_industry_name",
                    addontab: true,                   
                    maxitems: 10,
                    input_min_size: 0,
                    height: 10,
                    cache: true,
                    newel: true,
                    select_all_text: "select",
                });
            });
            
            
             $(document).ready(function(){                
                $("#shipment_destination_id").fcbkcomplete({
                    json_url: "/shipments/search_by_destination_name",
                    addontab: true,                   
                    maxitems: 10,
                    input_min_size: 0,
                    height: 10,
                    cache: true,
                    newel: true,
                    select_all_text: "select",
                });
            });
            
            
</script>