<li id="<%= shipment.id %>" class="list_items">
	<table class="shipping_details" id="shipping_row_<%= shipment.id %>" border='0' cellpadding='10' cellspacing="2">
		<tr>
			<td class="sort_items"><img src='assets/move1.jpg' alt='Move'/></td>
			<td class="expand"><a href="javascript:void(0);"> <img src='assets/iconExpandeArrow.gif' alt='Expand'/> </a></td>
			<td><%= shipment.no_of_pkgs %></td>
			<td><%= shipment.invoice_reference %></td>
			<td><%= shipment.goods_description %></td>
			<td><%= shipment.mawb_mbl_no %></td>
			<td><%= shipment.hawb_hbl_no %></td>
			<td><%= shipment.agent %></td>
			<td><%= shipment.transport_type %></td>
			<!-- <td><%= shipment.cargo_receipt_date %></td> -->
			<td><%= shipment.created_at.strftime('%d, %B, %Y') %></td>
			<td><%= shipment.job_no %></td>
			<td class="invoice">Invoice</td>
			<td><%= link_to 'Destroy', shipment, confirm: 'Are you sure?', method: :delete %></td>
			<!-- 			<td height="10">item12</td>
			<td height="10">item13</td>
			<td height="10">item14</td>
			<td height="10">item15</td> -->
		</tr>	
	</table>
	<div class="shipping_row_expand" id="shipping_row_expand_<%= shipment.id %>">
		<div class="expand_panel">
			<p>
				<% @shipment = shipment %>
				<%= render 'form' unless shipment.blank? %>
			</p>
		</div>
	</div>
	<div class="invoice-dialog-form" id="invoice-dialog-form-<%= shipment.id %>" title="Invoice">
		<p class="validateTips">
			All form fields are required.
		</p>
		<% if shipment.invoice.blank? %>
		<%= render :partial => 'invoices/form', :locals => { :invoice => Invoice.new( :shipment => shipment ) } %>
		<% else %>
		<%= render :partial => 'invoices/show', :locals => { :invoice => shipment.invoice } %>
		<% end %>
	</div>
</li>
