<!DOCTYPE html>
<html class="js" dir="ltr" xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:dc="http://purl.org/dc/terms/" xmlns:foaf="http://xmlns.com/foaf/0.1/" xmlns:og="http://ogp.me/ns#" xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#" xmlns:sioc="http://rdfs.org/sioc/ns#" xmlns:sioct="http://rdfs.org/sioc/types#" xmlns:skos="http://www.w3.org/2004/02/skos/core#" xmlns:xsd="http://www.w3.org/2001/XMLSchema#" profile="http://www.w3.org/1999/xhtml/vocab" lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<meta about="/node/7" property="sioc:num_replies" content="0" datatype="xsd:integer">
		<meta content="Home" about="/node/7" property="dc:title">
		<title>Glossy Logistics</title>
		<%= stylesheet_link_tag 'glossylogistics' %>
		<%= javascript_include_tag 'glossylogistics' %>
	</head>
	<body id="genesis-2c">
		<div id="skip-link">
			<a href="#main-content">Skip to main content</a>
		</div>
		<div id="container" class="html front not-logged-in one-sidebar sidebar-first page-node page-node- page-node-7 node-type-page">
			<div id="top-wrapper">
				<div id="top-inner">
					<header id="header" class="clearfix" role="banner">
						<div id="branding">
							<div id="logo">
								<%= link_to root_url do %>
								<%= image_tag 'glossy_logo.png', :alt => "Glossy Logistics logo", :height => '105px' %>
								<% end %>
								<%= content_tag :div, 'a logistics company', :id => 'caption' %>
							</div>
							<hgroup class="element-invisible">
								<h1 id="site-name" class="element-invisible"><a href="http://www.amqp.org/" rel="home" title="Home page" class="active">AMQP</a></h1>
							</hgroup>
						</div>
						<div id="header-end-blocks">
							<div class="region region-header-end">
								<nav id="block-superfish-1" class="block block-superfish block-odd block-header-end block-count-3" role="navigation">
									<div class="block-inner">
										<div class="block-content">
											<%= render :partial => 'menus' %>
										</div>
									</div>
								</nav>
							</div>
						</div>
					</header>
					<!-- /header -->
					<% if request[:action].eql? 'index' %>
					<%= render :partial => 'slider_skin' %>
					<% end %>
				</div>
				<!-- /top-inner -->
			</div>
			<!-- /top-wrapper -->
			<% if request[:action].eql? 'index' %>
			<%= render :partial => 'slider_navigation' %>
			<% end %> <div id="breadcrumb-wrapper"></div>
			<div id="content-wrapper">
				<%= yield %> <!-- /columns -->
			</div>
			<!-- /content-wrapper -->
			<div id="footer-wrapper">
				<footer id="footer" role="contentinfo">
					<nav></nav>
					<div class="copyright">
						© Copyright 2012
					</div>
					<div class="region region-footer">
						<section id="block-system-powered-by" class="block block-system block-odd block-footer block-count-6">
							<div class="block-inner">
								<div class="block-content"></div>
							</div>
						</section>
					</div>
				</footer>
			</div>
			<!-- /footer-wrapper -->
		</div>
	</body>
	<div id="snowFlakeContainer">
		<p class="snowflake">
			*
		</p>
	</div>
</html>
